<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>疫情防控情况上报平台</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div  style="text-align: center"><br><br>
    <h2>管理员登陆</h2><br>

    <div class="row" style="width: 350px; margin: 0 auto;">
        <form class="form" method="GET" action="check">

            <select class="form-control"  type="text" name="username" >
                <option value="学校防控办" th:each="collegeName : ${collegeName}" th:value="${collegeName}" th:text="${collegeName}">学校防控办</option>
            </select><br><br>

            <input class="form-control" name="password" placeholder="密码"  type="password"><br><br>

            <input class="btn btn-danger" value="登录" type="submit">

        </form><br><br><br><br><br>
        <form class="form" method="GET" action="sendMsg">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        定时填报提醒测试
                    </h3>
                </div>
                <div class="panel-body">
                    <input class="form-control" name="phoneNumber" placeholder="输入手机号码"  type="text"><br>
                    由于是测试项目，没有经费，选用短信API的是测试版本，故没有办法定制短信内容，为证明程序正确，当您开始测试之后，您会收到一条验证码为8888的短信
                    <br>
                    <span th:text="'剩余短信条数:' + ${msgCount}"></span>
                    <br>
                    <input class="btn" value="开始短信测试" type="submit">
                </div>
            </div>
        </form>

    </div>

</div>

<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="/js/bootstrap.js"></script>

</body>
</html>
