<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>疫情防控情况上报平台</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>

        label{
            max-width: 40%;
        }

    </style>
</head>

<script type="text/javascript">

    function validate_required(field,alerttxt)
    {
        with (field)
        {
            if (value==null||value=="")
                {alert("不能有选项未填写情况！");return false}
            else {return true}
        }
    }

    function validate_form(thisform)
    {
        with (thisform)
        {
            if (validate_required(code,"code must be filled out!")==false) {code.focus();return false}
            if (validate_required(college,"college must be filled out!")==false) {college.focus();return false}
            if (validate_required(classes,"classes must be filled out!")==false) {classes.focus();return false}
            if (validate_required(date,"date must be filled out!")==false) {date.focus();return false}
            if (validate_required(name,"name must be filled out!")==false) {name.focus();return false}
            if (validate_required(phone,"phone must be filled out!")==false) {phone.focus();return false}
            if (validate_required(province,"province must be filled out!")==false) {province.focus();return false}
            if (validate_required(city,"city must be filled out!")==false) {city.focus();return false}
            if (validate_required(area,"area must be filled out!")==false) {area.focus();return false}
            if (validate_required(StayAtSchool,"StayAtSchool must be filled out!")==false) {return false}
            if (validate_required(IfWuhanperson,"IfWuhanperson must be filled out!")==false) {return false}
            if (validate_required(IfHubeiperson,"IfHubeiperson must be filled out!")==false) {return false}
            if (validate_required(WithWuhanMeet,"WithWuhanMeet must be filled out!")==false) {return false}
            if (validate_required(WithHubeiMeet,"WithHubeiMeet must be filled out!")==false) {return false}
            if (validate_required(InWuhan,"InWuhan must be filled out!")==false) {return false}
            if (validate_required(InHubei,"InHubei must be filled out!")==false) {return false}
            if (validate_required(BackToSchool,"BackToSchool must be filled out!")==false) {return false}
            if (validate_required(suspect,"suspect must be filled out!")==false) {return false}
            if (validate_required(infect,"infect must be filled out!")==false) {return false}

        }
    }
</script>

<body>
<div style="text-align: center">
    <span style="color: darkslategray; font-size: 30px; line-height: 50px;">学生疫情情况每日上报表</span>
    <hr/>
    <form action="info" method="GET" role="form" onsubmit="return validate_form(this)">
        <div class="form-group">

            <label class="col-md-3 control-label">学号：</label>
            <div class="col-md-8"><input class="form-control" type="text" name="code"></div><br><br>

            <label class="col-md-3 control-label">所在学院：</label>
            <div class="col-md-8"><input class="form-control" type="text" name="college"></div><br><br>

            <label class="col-md-3 control-label">所在班级：</label>
            <div class="col-md-8"><input class="form-control" type="text" name="classes"></div><br><br>

            <label class="col-md-3 control-label">上报日期：</label>
            <div class="col-md-8"><input class="form-control" type="text" name="date" th:value="${#dates.format(today,'yyyy-MM-dd HH:MM:SS')}" value="2020-3-7 14:45:211"></div><br><br>

            <label class="col-md-3 control-label">填报人：</label>
            <div class="col-md-8"><input class="form-control" type="text" name="name"></div><br><br>

            <label class="col-md-3 control-label">联系电话：</label>
            <div class="col-md-8"><input class="form-control" type="text" name="phone"></div><br><br>

            <label class="col-md-3 control-label">当前所在省：</label>
            <div class="col-md-8"><input class="form-control" type="text" name="province"></div><br><br>

            <label class="col-md-3 control-label">当前所在市：</label>
            <div class="col-md-8"><input class="form-control" type="text" name="city"></div><br><br>

            <label class="col-md-3 control-label">当前所在区：</label>
            <div class="col-md-8"><input class="form-control" type="text" name="area"></div><br><br>

            <label class="col-md-3 control-label">是否为留校中国学生：</label>
            <input type="radio" name="StayAtSchool" value="1">是 <span style="width: 20%; display: inline-block"></span><input type="radio" name="StayAtSchool" value="0">否<br><br>

            <label class="col-md-3 control-label">是否为武汉籍学生：</label>
            <input type="radio" name="IfWuhanperson" value="1">是 <span style="width: 20%; display: inline-block"></span><input type="radio" name="IfWuhanperson" value="0">否<br><br>

            <label class="col-md-3 control-label">是否为湖北籍（不含武汉）学生：</label>
            <input type="radio" name="IfHubeiperson" value="1">是 <span style="width: 20%; display: inline-block"></span><input type="radio" name="IfHubeiperson" value="0">否<br><br>

            <label class="col-md-3 control-label">是否近14日内与武汉疫区人员接触过：</label>
            <input type="radio" name="WithWuhanMeet" value="1">是 <span style="width: 20%; display: inline-block"></span><input type="radio" name="WithWuhanMeet" value="0">否<br><br>

            <label class="col-md-3 control-label">近14日内与湖北疫区人员（不含武汉)接触过：</label>
            <input type="radio" name="WithHubeiMeet" value="1">是 <span style="width: 20%; display: inline-block"></span><input type="radio" name="WithHubeiMeet" value="0">否<br><br>

            <label class="col-md-3 control-label">是否在武汉：</label>
            <input type="radio" name="InWuhan" value="1">是 <span style="width: 20%; display: inline-block"></span><input type="radio" name="InWuhan" value="0">否<br><br>

            <label class="col-md-3 control-label">是否在湖北（不含武汉）：</label>
            <input type="radio" name="InHubei" value="1">是 <span style="width: 20%; display: inline-block"></span><input type="radio" name="InHubei" value="0">否<br><br>

            <label class="col-md-3 control-label">是否今天从外地返校：</label>
            <input type="radio" name="BackToSchool" value="1">是 <span style="width: 20%; display: inline-block"></span><input type="radio" name="BackToSchool" value="0">否<br><br>

            <label class="col-md-3 control-label">是否有疫情疑似症状：</label>
            <input type="radio" name="suspect" value="1">是 <span style="width: 20%; display: inline-block"></span><input type="radio" name="suspect" value="0">否<br><br>

            <label class="col-md-3 control-label">是否已经确认被感染：</label>
            <input type="radio" name="infect" value="1">是 <span style="width: 20%; display: inline-block"></span><input type="radio" name="infect" value="0">否<br><br><br>

            <button class="btn btn-lg btn-primary" type="submit">提交</button>

        </div>
    </form>
</div>
<br><br><br>
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="/static/js/bootstrap.js"></script>
</body>
</html>